html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
ol, ul {
  list-style: none;
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}
p {
  margin-bottom: 0 !important;
}
a, img, time {
  display: block;
}
img {
  max-width: 100%;
  object-fit: cover;
}
a, button {
  transition: all .3s;
}
input:focus {
  box-shadow: none !important;
}